body {
  background-color: aqua;
}

.todoWrapper {
  margin-top: 20px;

  display: flex;
  justify-content: center;
}

.todoContainer {
  width: 800px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;

  background-color: white;
}

.todoTitle {
  margin-bottom: 20px;

  text-align: center;

  font-weight: 800;

  color: salmon;
}

.todoForm {
  margin-bottom: 20px;

  display: flex;
}

.todoForm input {
  height: 40px;
  padding: 0;
  padding-left: 10px;
  border: none;

  flex-grow: 1;

  background-color: #ebedee;

  font-size: 16px;
}

.todoForm input:focus {
  background-color: #ffe4a0;

  outline: none;
}

.todoInput {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  flex: 0 0 50%;
}

.deadlineDate,
.deadlineTime {
  flex: 1 1 0;
}

.todoForm button {
  height: 40px;
  padding: 0 12px;
  background-color: #ff8008;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  color: #fff;

  font-size: 16px;
  text-transform: uppercase;
}

.todoList {
  padding: 0;
  margin: 0;
}

.todoItem{
  min-height: 44px;
  padding: 6px;
  border-bottom: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.todoItemText{
  padding-left: 20px;
  padding-right: 10px;
  margin-right: 10px;
  margin-bottom: 0;

  position: relative;

  flex-grow: 1;

  cursor: pointer;
}

.todoItemText::after{
  width: 12px;
  height: 12px;
  border: 1px solid black;
  border-radius: 50%;

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  content: '';
}

.todoTaskDone {
  color: #6f6f6f;

  text-decoration: line-through;
}

.hidden {
  display: none;
}

.todoTaskDone::before{
  width: 8px;
  height: 8px;
  background-color: #ff8008;
  border-radius: 50%;

  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);

  content: '';
}

.todoDeadline {
  margin: 0;
  padding: 0 10px;
}

.todoItemBtnDelete {
  width: 25px;
  height: 25px;
  padding: 5px;
  background-color: #ffe4e1;
  border: 1px solid #ea4905;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.todoItemBtnDelete:hover {
  background-color: #ffc5be;

  transition: 0.2s;
}

.todoItemBtnDelete img{
  width: 100%;

  pointer-events: none;
}
