.container {
  width: max-content;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;

  background-color: rgba(178, 193, 255, 0.388);

  display: flex;

  flex-direction: column;
}

.timer {
  padding: 10px 5px;
  margin-bottom: 10px;
  border: 1px solid rgb(213, 17, 17);
  border-radius: 8px;

  background-color: rgba(255, 0, 0, 0.163);

  font-size: 48px;
  font-weight: bold;

  display: flex;
  justify-content: center;  

  transition: color 0.3s ease;
}

.timer-stop {
  color: red;

  transition: color 0.3s ease;
}

.buttons {
  gap: 10px;

  display: flex;
}

.btn {
  border-radius: 8px;

  background-color: rgba(0, 128, 0, 0.179);

  font-size: 24px;
}

.btn:hover {
  background-color: rgba(0, 128, 0, 0.426);

  cursor: pointer;
}
