form {
  display: inline-block;
  text-align: center;

  padding: 10px;

  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;

  background-color: aliceblue;
}

h1 {
  color: rgba(229, 30, 30, 0.829);

  font-size: 40px;
}

fieldset {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.input {
  padding: 10px;

  border-radius: 8px;

  font-size: 36px;
}

textarea {
  font-size: 36px;

  resize: vertical;
}

button {
  width: 94%;
  padding: 10px;
  margin-top: 20px;

  border-radius: 8px;
  
  color: white;
  background-color: rgb(105, 172, 249);

  font-size: 26px;
  font-weight: bold;

  cursor: pointer;
}

button:hover {
  background-color: rgb(70, 113, 163);
}