.slider {
  width: 800px;
  height: 400px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 4px;

  position: relative;
  overflow: hidden;
}

.slider_line {
  height: 100%;

  display: flex;
  
  transition: transform 0.8s ease;
}

.slide {
  width: 800px;
  height: 400px;

  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}

.slider_btn {
  padding: 5px 10px;
  border: 1px solid black;

  background: transparent;

  position: absolute;
  top: 50%;

  transform: translateY(-50%);

  cursor: pointer;
}

.slider_btn:hover {
  background-color: rgba(0, 0, 0, 0.292);

  cursor: pointer;
}

.btn-prev {
  left: 10px;
}

.btn-next {
  right: 10px;
}

.btn-no_active {
  display: none;
}

.slider_wrapper {
  position: absolute;
  bottom: 15px;
  left: 50%;
  display: flex;

  gap: 10px;
  
  transform: translateX(-50%);
}

.slider_dot {
  width: 14px;
  height: 14px;
  border: 1px solid rgb(0, 0, 0);

  cursor: pointer;
}

.slider_dot:hover:not(.active-dot) {
  background-color: rgba(0, 0, 0, 0.292);
  
  cursor: pointer;
}

.active-dot {
  background-color: rgb(0, 0, 0);
}