.container {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 50%;
}

.img {
  max-width: 100%;
  height: auto;
  margin-top: 100px;
}

.btn {
    width: 100%;
    background-color: #0a9c84;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: rgb(241, 153, 214);
    padding: 14px 40px;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
  background-color: #0c8873;
}