.container {
  display: flex;
  flex-direction: column ;
  align-items: center;

  width: 600px;
  padding-bottom: 30px;

  border: 1px solid black;
  border-radius: 8px;
  
  background-color: #d3fff8;
}

h1 {
  font-size: 50px;
}

.input-wrapper {
  display:flex;

  gap: 10px;
}

input {
  padding: 10px;

  border-radius: 8px;

  font-size: 30px;
}

.addBtn {
  text-align: center;

  padding: 10px 20px;

  border-radius: 8px;

  font-size: 30px;
  font-weight: bold;
  
  color: rgb(241, 153, 214);
  background-color: #95f2e3;
  
  cursor: pointer;
}

.addBtn:hover {
  background-color: #0c8873;
}

ul {
  width: 500px;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;  

  padding: 10px;
  margin-bottom: 8px;

  border: 1px solid black;
  border-radius: 8px;                
           
  font-size: 30px;
  
  background-color: rgba(251, 202, 236, 0.684);

  list-style: none;
}

.removeBtn {
  text-align: center;

  padding: 10px;

  border-radius: 8px;

  font-size: 20px;
  font-weight: bold;

  background-color: rgb(241, 153, 214);
  color: #95f2e3;
  
  cursor: pointer;
}

.removeBtn:hover {
  background-color: rgb(211, 133, 188);
}