.btn-xcom  a {
  padding: 0px 10px;
  height: 25px;
  margin-right: 15px;
  border-radius: 9999px;

  background-color: black;
  color: rgb(200, 200, 200);

  font-weight: 500;
  font-size: 12px;
  text-decoration: none;

  display: inline-flex;
  align-items: center;
}

.btn-xcom a img {
  height: 15px;
  margin-right: -2px;
  margin-left: -8px;
}

.btn-gitHub a {
  padding: 0 3px;
  height: 25px;
  border: 1px solid #d5d5d5;
  border-radius: 3px;

  background-color: #eee;
  color: #333;

  font-weight: 700;
  font-size: 12px;
  text-decoration: none;

  display: inline-flex;
  align-items: center;
}

.btn-gitHub a img {
  height: 15px;
  margin-right: 3px;
}